<!DOCTYPE html>
<html>
<body>

<h1>My First Heading</h1>

<p>Tipo <%= story.kind %></p>
<p>id <%= story.id %></p>
<p>url <%= story.url %></p>
<p>Nome <%= story.name %></p>
<p>criado em <%= story.createdAt %></p>
<p>Descricao <%= story.description %></p>
<p>Tipo <%= story.kind %></p>
<p>Tipo <%= story.kind %></p>

</body>
</html>
